streamlit
pandas
tqdm
geopandas
folium
ipywidgets
IPython
pybase64
datetime
scipy
streamlit-folium
plotly-express
wordcloud
Wikipedia-API
streamlit-folium
streamlit-js-eval
beautifulsoup4
nltk
pydeck
